body {
    font-family: sans-serif;
    background-color: lightyellow;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    color: #524f4e;
    font-family: sans-serif;
    padding-top: 40px;
    padding-left: 22px;
    padding-right: 22px;
}  
